*{
  font-family: 'Raleway', sans-serif; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

body {
  background: linear-gradient(135deg, #B77A4D 60%, #ebf8e1)
}

button {
  margin-left: 20px;
  padding: 10px;
  }

input {
  margin-left: 10px;
  margin-right: 10px;
}

.outerContainer {  
  font-size: 1.6em;      
  width: 100vw; 
  height: 100vh;
  display: flex;  
}

.innerContainer {   
  width: 75%; 
  margin: auto;  
  background-color: pink;  
}

@media only screen and (max-width: 600px) {
  .outerContainer{
   font-size: 1em;     
  }
  .innerContainer {
    width: 100%;
    height: 100%;  
  }
  .smallText{
  font-size: 0.5em;
  }
}

.textContent { 
  color: white;
  background-color: black;    
  display: inline-block;  
  height: 100%; 
  width: 100%;   
  padding: 20px;
  box-shadow: 10px 10px #34211D;
}
.buttonDiv{ 
  display: flex;
  align-items: center; 
  padding-left: 60px;
  padding-top: 40px;  
}
.question{
  padding-top: 60px;
  padding-left: 60px;
}
.nextButton {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.boldText {
  font-weight: bold;
}
.smallText{
  font-size: 1em;
}
.resetFontStyle {
  font-weight: normal;  
}
.hideElement {
  display: none;
}